html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
}

nav {
    color: white;
}

nav a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px;
    text-align:left;     
}

.sign-up-sign-in nav ul{
    font-family: sans-serif;
    font-size: 12px;
    list-style: none;
    margin-right: 10;
    padding: 0;
    display: flex;
}

/*--Header--*/
.header{
    background-color: #698EB8;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: auto; 
    padding: 20px;
    height: 180px;
    width: auto;
}

.logo-and-name {
    display: flex; 
    align-items: top; 
    margin-right: 20px;
}

.logo-and-name i{
    color: #000;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

.logo{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.app-name {
    background-color: transparent; 
    padding: 0; 
    margin: 0; 
    font-size: 24px;
    font-family: sans-serif;
    font-style: italic;
}

.tagline {
    font-family: sans-serif;
    font-size: 30px;
    position: absolute;
    left: 330px;
    top: 120px;
}

.user-profile {
    margin-right: 20px;
    margin-top: 12px;
}

.user-profile i {
    color: #000;
    font-size: 24px;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 400px;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.937);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
    box-shadow: #000;
    margin-left: 110px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 5px;
    font-size: 12px;
    color: #000000;
}

::placeholder {
   color: #000000;
}

.search-bar button i{
    width: 20px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #58629b;
    color: #ffffff;
    cursor: pointer;
}

/*--Images--*/
.img {
  display: inline-block;
  margin: 30px 5px 0 5px;
}

.img:last-child {
  margin-right: 0;
}

.img img {
  width: 301px;
  height: 206px;
}

/*--Footer--*/
footer {
    background-color: #698eb8;
    padding: 5px;
    width: auto;
}

.footer-p p {
    color: #fff;
    text-align: left;
    margin-left: 20px;
    font-size: 14px; 
    position: relative;
    margin-top: -20px;
    top: 32px;
}

.footer-about nav ul{
    font-family: sans-serif;
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
    font-size: 14px;  
    bottom: 5px;    
}

